--prefer-binary
flask==2.0.3
pillow==9.5.0  # Must be 9.5.0 for Python 3.10
pymupdf==1.23.5
google-generativeai==0.3.2
sentence-transformers==2.2.2
faiss-cpu==1.7.4
supabase==2.7.1
gunicorn==20.1.0
httpx[http2]==0.23.0s
